services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: always
    ports:
      - "3000:8080"
    volumes:
      - open-webui-data:/app/data
    environment:
         # 로컬 호스트 통신 허용
      - 'EXTRA_HOSTS=host.docker.internal:host-gateway'
      - 'WEBUI_AUTH=True'    
    extra_hosts:
      - "host.docker.internal:host-gateway"
volumes:
  open-webui-data:
